<div class="container-fluid container-home">
  <div id="banner" class="page-header">
    <h1>Dashboard</h1>
  </div>

  <div class="container">
    <div class="row">
      <div class="row col-md-9">
        <div class="profile">
          <div class="row">
            <div class="row">
              <div class="col-md-6">
                <div class="row">
                  <%= image_tag current_user.image_url, class: "img-rounded pull-left" %>
                  <div class="user-info col-md-offset-5">
                    <h3><%= current_user.info.name %></h3>
                    <p><%= current_user.nickname %></p>
                    <h4><%= current_user.email %></h4>
                    <div class="company-info">
                      <%= current_user.info.company %><br>
                      <%= link_to current_user.info.blog,
                                  current_user.info.blog %><br>
                      Joined <%= Date.parse(current_user.info.created_at).strftime("%b %e, %Y") %>
                    </div>
                  </div>

                </div> <!-- ./row -->
                <div class="row">
                  <div class="col-md-6 col-md-offset-4">
                    <table>
                      <tr>
                        <td><%= current_user.info.followers %></td>
                        <td><%= current_user.info.following %></td>
                        <td><%= current_user.starred_repos.count %></td>
                        <td><%= current_user.info.public_repos %></td>
                        <td><%= current_user.info.public_gists %></td>
                      </tr>
                      <head>
                        <th><h6>Followers</h6></th>
                        <th><h6>Following</h6></th>
                        <th><h6>Starred</h6></th>
                        <th><h6>Repos</h6></th>
                        <th><h6>Gists</h6></th>
                      </head>
                    </table>
                  </div>
                </div> <!-- ./row -->
              </div>
              <div class="organizations col-md-6">
                <h3>Organizations</h3>
                <% current_user.orgs.each do |org| %>
                  <div class="col-md-1">
                    <a href="org.url">
                      <%= image_tag org.avatar, alt: org.name %>
                    </a>
                  </div>
                <% end %>
              </div>
              <div class="row clear" id="contributions-row">
                <div class="contributions">
                  <h3>Contributions</h3>
                  <div class="contrib-column contrib-column-first col-md-4">
                    <span class="text-muted">Contributions in the last year</span>
                    <span class="contrib-number">
                      <%= current_user.yearly_commit_activity %> total
                    </span>
                    <span class="text-muted"><%= (Date.today - 1.year).strftime('%b %e, %Y') %> – <%= Date.today.strftime('%b %e, %Y') %></span>
                  </div>
                  <div class="contrib-column col-md-4">
                    <span class="text-muted">Longest streak</span>
                    <span class="contrib-number"><%= current_user.longest_streak.count %></span>
                    <span class="text-muted">
                      <%= current_user.longest_streak.first.date.strftime("%b %e") %> –
                      <%= current_user.longest_streak.last.date.strftime("%b %e") %>
                    </span>
                  </div>
                  <div class="contrib-column col-md-4">
                    <span class="text-muted">Current streak</span>
                    <span class="contrib-number"><%= current_user.current_streak.count %></span>
                    <span class="text-muted">
                      <%= current_user.current_streak.first.date.strftime("%b %e") %> –
                      <%= current_user.current_streak.last.date.strftime("%b %e") %>
                    </span>
                  </div>
                </div>
              </div> <!-- ./row -->
            </div> <!-- ./row -->
          </div> <!-- ./row -->
        </div> <!-- ./profile -->

        <br>

        <div class="row" id="repositories-row">
          <div class="bs-component pill-container col-md-12">
            <ul class="nav nav-pills">
              <li class="active">
                <a href="#repositories" data-toggle="tab">Repositories</a>
              </li>
              <li>
                <a href="#pull-requests" data-toggle="tab">Pull Requests</a>
              </li>
            </ul>
            <div id="repos-tab" class="tab-content">
              <div class="tab-pane fade active in" id="repositories">
                <ul class="repository-list">
                  <% current_user.repos.each do |repo| %>
                    <li class="repository-item">
                      <span class="repo-icon mega-octicon octicon-mark-github"></span>
                      <span class="repo-name">
                        <%= link_to "#{repo.owner}/#{repo.name}", repo.html_url %>
                      </span>
                      <span class="last-updated">Updated <%= repo.updated_at.strftime("%Y-%m-%d") %></span>
                    </li>
                  <% end %>
                </ul>
              </div>

              <div class="tab-pane fade" id="pull-requests">
                <ul class="pull-request-list">
                  <% current_user.pull_requests.each do |pull_request| %>
                    <li class="pull-request-item">
                      <span class="pull-request-icon mega-octicon octicon-git-pull-request"></span>
                      <span class="pull-request">
                        <%= pull_request.actor_nickname %>
                        <%= link_to pull_request.title, pull_request.url %>
                      </span>
                      <span class="last-updated">
                        Updated <%=  pull_request.updated_at.strftime("%Y-%m-%d") %>
                      </span>
                    </li>
                  <% end %>
                </ul>
              </div>
            </div>  <!-- ./#repos-tab -->
          </div>  <!-- ./bs-component -->
        </div> <!-- ./row -->
      </div> <!-- ./row -->

      <aside class="col-md-3 recent-activity">
        <h3>Recent Activity</h3>
        <div class="bs-component pill-container">
          <ul class="nav nav-pills">
            <li class="active">
              <a href="#pushes" data-toggle="tab">Pushes</a>
            </li>
            <li>
              <a href="#following" data-toggle="tab">Following</a>
            </li>
          </ul>
          <div id="activity-tab" class="tab-content">
            <div class="tab-pane fade active in" id="pushes">
              <ul>
                <% current_user.pushes.each do |push| %>
                  <li class="push-item">
                    <span class="commit-icon mega-octicon octicon-git-commit"></span>
                    <span class="push">
                      <%= link_to "#{push.size} commits to #{push.repo}",
                                  push.repo_url %>
                    </span>
                  </li>
                <% end %>
              </ul>
            </div>
            <div class="tab-pane fade" id="following">
              <ul class="following-list">
                <#% @follows.each do |follow| %>
                  <li class="follow-item">
                    <span class="follow-icon mega-octicon octicon-git-person"></span>
                    <span class="follow">
                      <%#= follow.actor_nickname %>
                      <%#= link_to follow.title, follow.url %>
                    </span>
                    <span class="last-updated">
                      Updated <%#=  follow.updated_at.strftime("%Y-%m-%d") %>
                    </span>
                  </li>
                <#% end %>
              </ul>
            </div>
          </div> <!-- ./#activity-tab -->
        </div> <!-- ./bs-component -->

      </aside>

    </div> <!-- ./row -->
  </div> <!-- ./container -->
</div>
